body {
  background-color: #add8e6;
}
h1 {
  text-align: center;
  font-family: sans-serif;
}
p {
  font-family: serif;
}
.heading {
  padding: 10px;
}
.navbar {

}
ul {
  display: inline;
  text-align: center;
  font-family: sans-serif;
  list-style-type: none;
}
