body {
  background-color: #e0e0eb;
}
h1 {
  text-align: center;
  font-family: sans-serif;
}
h3 {
  font-family: sans-serif;
  text-decoration: underline;
}
p {
  font-family: serif;
}
a {
  text-decoration: none;
}
a:link {
  color: rgb(224, 224, 235);
}
a:visited {
  color: rgb(162, 162, 195);
}
.heading {
  padding: 10px;
  color: rgb(224, 224, 235);
}
ul {
  text-align: center;
  list-style: inside;
  padding: 0px;
}
li.nav {
  padding: 10px;
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  list-style-type: none;
  color: rgb(224, 224, 235);
}
.title {
  padding: 50px 100px;
  background-color: rgb(31, 31, 46);
}
.navbar {
  background-color: rgb(31, 31, 46);
}
.main {
  padding: 0px 5px;
}
a.fullsize {
  color: rgb(31, 31, 46);
  font-family: sans-serif;
}
ul.blocks{
  text-align: left;
  list-style: none;
  padding-left: 10px;
}
a.parag{
  font-family: serif;
  color: black;
}
li {
  padding: 10px 0px;
}
img {
  max-width: 500px;
  margin: 0px 10px;
}
img.fullimg {
  border: 5px solid black;
  border-radius: 4px;
}
